@import url("https://fonts.googleapis.com/css2?family=Metrophobic&display=swap");
html {
    font-family: "IBM Plex Sans", sans-serif;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}
ul {
    list-style: none;
}
button,
input,
select {
    margin: 0;
}
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
img,
video {
    height: auto;
    max-width: 100%;
}
iframe {
    border: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td,
th {
    padding: 0;
}

* {
    box-sizing: border-box;
}

html {
    background: #fafafa;
}

main {
    padding: 48px 56px;
    color: #373938;
    font-size: 16px;
    font-weight: 300;
    max-width: 700px;
    line-height: 1.5;
}

a,
a:visited {
    overflow: hidden;
    position: relative;
    color: #373938;
    text-decoration: none;
}

a::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    bottom: -1px;
    background: #222;
    transform: scaleX(1);
    transition: 0.07s ease all;
    transform-origin: center center;
}

a:hover::after {
    transform: scaleX(0);
}

#footnote {
    padding-right: 32px;
    margin-top: 48px;
    font-size: 12px;
}

@media (max-width: 500px) {
    main {
        padding: 32px;
        width: 100%;
    }
}
